// Color Configuration
@import "../../styles/color-theme.scss";

dialog {
  border: 1px solid rgba($darker-main, 0.3);
  box-shadow: 0 2px 10px rgba($darker-main, 0.5);
  border-radius: 10px;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: auto;
  margin-top: 20svh;

  .title {
    font-size: 1rem;
    margin-bottom: 15px;
    text-align: center;
  }

  form {
    /* min-width: 200px; */
    background-color: lighten($light-contentbody, 5%);
    opacity: 100%;
    flex-grow: 1;
    max-width: 300px;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    input {
      align-self: stretch;
      border: 1px solid rgba($darker-main, 1);
      border-radius: 10px;
      padding: 5px;
      grid-column: span 2;
    }

    .description {
      align-self: center;
      padding: 5px;
      font-size: 0.8rem;
      text-align: center;
    }

    & > div {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      align-self: stretch;
    }
    button {
      width: 100px;
      padding: 5px;
      background-color: lighten($light-contentbody, 5%);
      border-radius: 5px;

      &:first-child {
        border: 1px solid rgba($darker-main, 0.3);
        &:active {
          background-color: desaturate($light-contentbody, 4%);
        }
      }

      &:nth-child(2) {
        background-color: rgba($darker-main, 0.8);
        color: rgba(white, 0.9);
        &:active {
          background-color: grayscale(rgba($darker-main, 0.5));
        }
        &:disabled {
          background-color: rgba($darker-main, 0.5);
          color: rgba(white, 0.3);
        }
      }
    }
  }
}
