@import "./color-theme.scss";

.detail-panel {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

  //   border-left: 1px solid $darker-main;

  display: grid;
  //   grid-template-columns: 1px 1fr 1px;
  grid-template-rows: 40px min-content 1fr 40px;
  grid-template-areas:
    "empty date empty"
    "empty title empty"
    "empty description empty"
    "empty bottom empty";
  gap: 10px;

  & > div {
    overflow: hidden;
  }
}

.default-template {
  grid-row: 3;
  place-self: center;
  display: grid;
  justify-items: center;
  img {
    width: 100px;
    margin-bottom: 20px;
    border-radius: 50px;
  }
}

.todo-date {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: 1fr;
  place-items: center;

  input[type="checkbox"] {
    border: 1px solid $darker-main;
    width: 15px;
    height: 15px;
    background-color: blue;
  }

  span.date::before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 15px;
    background-color: $darker-main;
    margin-left: 5px;
    margin-right: 10px;
    opacity: 20%;
    position: relative;
    top: 3px;
  }
  span.date {
    display: flex;
    gap: 10px;
    justify-self: left;
    // position: relative;
    // top: 2px;

    input {
      background-color: rgba(0, 0, 0, 0);
      width: 150px;
      position: relative;
      outline: none;
      overflow: visible;

      &::-webkit-datetime-edit-fields-wrapper {
        display: inline-block;
      }
      &::-webkit-datetime-edit {
        position: relative;
        left: 10%;
      }
      &::-webkit-calendar-picker-indicator {
        opacity: 1;
        display: block;
        background: url(../assets/icons/calendar.svg);
        background-size: contain;
        width: 15px;
        height: 15px;
        position: absolute;
        left: -5%;
      }
    }
  }
}

.todo-title {
  font-weight: 800;
  font-size: 1.1rem;
}

.todo-desc {
  overflow: hidden;
  text-align: justify;
  &:hover {
    overflow-y: auto;
  }
}

// border: solid 1px $darker-main;
