
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,700&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: none;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;

}

html {
    scrollbar-color: rgba(0, 0, 0, 10%) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

/* WebKit and Chromiums */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 10%);
    border-radius: 5px;
}

//https://colorhunt.co/palette/f5efe6e8dfcaaebdca7895b2

// original color scheme;
// $background: rgb(245, 239, 230);
// $light-contentbody: rgb(232, 223, 202);
// $light-main:rgb(174, 189, 202);
// $darker-main: rgb(120, 149, 178);
// $input: darken( rgb(232, 223, 202), 10%);


// NUDE THEME
$background: #E4D0D0;
$light-contentbody:#F5EBEB;
$light-main: hsl(0, 28%, 77%);
$darker-main: #867070;
$input: lighten($light-main, 10%);


html,
body {
    width: 100vw;
    height: 100vh;
    height: 100%;
    height: -moz-available;
    /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
}

body {
    background-color: $background;

    display: grid;
    grid-template-rows: 1fr;
    place-items: center;

}

@mixin label($property_name) {
    &:hover::before {
        content: ($property_name);
        position: absolute;
        background-color: rgba(255, 255, 255, 80%);
        border: solid gray 1px;
        border-radius: 3px;
        font-size: 10px;

    }
}

#app-container {
    // transition: all 0.3s ease;

    width: 80vw;
    min-width: 300px;
    max-width: 1440px;
    height: 80vh;
    margin: auto;

    background-color: $light-contentbody;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 60px minmax(450px, 2fr) minmax(250px, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "nav list detail";





    .nav-column {
        @include label('.nav-column');

        background-color: $darker-main;
        border-radius: 15px 0 0 15px;
        grid-area: nav;


    }


    .list-container {

        background-color: $light-main;
        grid-area: list;
        display: grid;
        grid-template-columns: 300px 1fr 1fr;
        grid-template-rows: 1fr;
        max-height: 80vh;

        // @include label('.list-container ---->');
        border-radius: 0 15px 15px 0;





        .list-column {
            @include label('.list-column');

            margin-top: 20px;
            background-color: $light-main;
            overflow-y: hidden;

            &:hover {
                overflow-y: auto;
            }

        }

        .list-view {
            @include label('.list-view');



            



            grid-column: span 2;
            grid-column-end: -1;
            background-color: $light-contentbody;
            max-height: 80vh;
            border-radius: 0 15px 15px 0;

            display: grid;
            grid-template-rows: 20px 45px 45px 1fr;
            grid-template-columns: 1fr;

            .header {
                grid-row-start: 2;


                @include label('.header');


            }

            .input-container {
                @include label('.input-container');
                justify-content: center;
                grid-row-start: 3;
                display: flex;
                padding: 5px 20px;

                #task-input {
                    width: 100%;
                    border-radius: 10px;
                    background-color: $input;
                    padding: 10px;

                    &:focus {
                        background-color: $light-contentbody;
                        border: 1px solid $darker-main;
                    }
                }
            }

            .content {
                @include label('.content');
                grid-row-start: 4;
                background-color: $light-contentbody;
                padding: 5px 20px 0;
                border-radius: 0 0 15px 0;



                overflow-y: hidden;

                &:hover {
                    overflow-y: auto
                }
            }
        }
        

    }
    .detail-view {
        @include label('.detail-view');
        // background-color: #867070;
        overflow: hidden;
        grid-area: detail;

    }
}

@media screen and (max-width: 1000px) {

    

    #app-container {
        // transition: all 0.3s ease;

        animation-name: slide-description;
        animation-duration: 0.2s;

        grid-template-columns: 60px 1fr 0px;
        // grid-template-areas: "nav list"

        .list-container{
            transition: all 0.2s ease; //needed for column transition
        }
        .detail-view {
            overflow: hidden;
            white-space: nowrap;
        }
    }
    @keyframes slide-description {
        0% {
            grid-template-columns: 60px 2fr 1fr;
        }
        10%{
            grid-template-columns: 60px 1fr 200px;
        }
        100% {
            grid-template-columns: 60px 1fr 0px;
        }
        // 100% {
        //     grid-template-columns: 60px minmax(450px, 2fr) 0px;
        // }
    }



}

@media screen and (max-width: 700px) {

   

    #app-container {
        .list-container{
            

            grid-template-columns: 0px 1fr 1fr;
            div.list-column {
                
                // visibility: hidden;
                overflow: hidden;
                white-space: nowrap;

                // transform: translateX(-100%);
                // transform-origin: bottom right;


                
                height: 0;
                

            }
            div.list-column {
                
                // visibility: hidden;
                overflow: hidden;
                white-space: nowrap;

                // transform: translateX(-100%);
                // transform-origin: bottom right;



                
                // height: 0;
                

            }
            .list-view{
                grid-row: 1;
            }
        }
    } 
}