@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

// Clear Default Browser Styling
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

// Scrollbar Styling
html {
  scrollbar-color: rgba(0, 0, 0, 10%) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 10%);
    border-radius: 5px;
  }
}

// Label Mixin for Troubleshooting. Delete Later
@import "./dev-mix.scss";

// Color Configuration
@import "./color-theme.scss";

html,
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
}

body {
  background-color: $background;
  display: grid;
  grid-template-rows: 1fr;
  place-items: center;
}

#app-container {
  position: relative;
  width: 90vw;
  min-width: 300px;
  max-width: 1440px;
  height: 80vh;
  margin: auto;

  background-color: $light-contentbody;
  border-radius: 15px;

  display: grid;
  gap: 15px;
  grid-template-columns: 60px 250px 1fr 1fr;
  grid-template-rows: 20px 1fr;
  grid-template-areas:
    "nav empty empty empty"
    "nav list todo detail";

  @media screen and (max-width: 1200px) {
    grid-template-columns: 60px 250px 1fr 0fr;
    .detail-panel {
      padding: 0 !important;
      &::before {
        display: none;
      }
    }
  }
  @media screen and (max-width: 800px) {
    grid-template-columns: 60px 0px 1fr 0px;
  }
  transition: grid 0.2s ease-in-out;

  & > div {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }

  .nav-column {
    background-color: $darker-main;
    border-radius: 15px 0px 0px 15px;
    grid-area: nav;
  }

  .project-panel {
    grid-area: list;
    background-color: $light-contentbody;
  }

  .todo-panel {
    grid-area: todo;
  }

  .detail-panel {
    grid-area: detail;

    &::before {
      content: "";
      width: 1px;
      height: 100%;
      background-image: linear-gradient(
        $light-contentbody,
        $darker-main,
        $darker-main
      );
      display: block;
      position: absolute;
      top: 0;
      opacity: 20%;
    }
  }
}
