// <div class="list">
// <span class="material-symbols-outlined">list</span>
// <span class="title">Dummy Todo List</span>
// <span class="count">2</span>
// </div>

// Color Configuration
@import "./color-theme.scss";

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.material-symbols-outlined {
  font-size: 1.2rem;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.list-panel {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .header {
    user-select: none;
    padding-right: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lighten($darker-main, 10%);
    font-size: 0.8rem;
    font-weight: 700;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

    .add {
      opacity: 0.3;
      font-size: 1.3rem;
      font-weight: 300;
    }

    &:hover .add {
      cursor: pointer;
      opacity: 1;
    }
  }

  .list {
    display: grid;
    padding: 10px 15px;
    grid-template-columns: min-content min-content 1fr;
    white-space: nowrap;
    gap: 15px;
    align-items: center;
    user-select: none;
    cursor: pointer;

    font-size: 0.83rem;
    color: white;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);

    background-color: hsla(0, 28%, 50%, 30%);
    border-radius: 5px;

    .count {
      justify-self: flex-end;
      align-self: center;
      font-size: 0.65rem;
    }
  }
}
