// Color Configuration
@import "./color-theme.scss";

.todo-panel {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  gap: 5px;
}

.selected-list {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10px;
}

#todo {
  width: 100%;
  border-radius: 10px;
  background-color: $input;
  padding: 10px;
}

.todo-list {
  height: 100%;
  overflow-y: hidden;
  &:hover {
    overflow-y: auto;
  }
}

.todo {
  display: grid;
  grid-template-columns: min-content 1fr minmax(0px, max-content);
  grid-template-rows: max-content, max-content;
  column-gap: 10px;
  row-gap: 5px;
  align-items: center;
  background-color: lighten($input, 4%);
  padding: 5px 10px;
  font-size: 0.9rem;

  .dueDate {
    font-size: 0.65rem;
    color: red;
  }

  .details {
    grid-column: span 3;
    font-size: 0.7rem;
    color: $darker-main;
    max-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
