// Color Configuration
@import "../styles/color-theme.scss";

.todo-panel {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  gap: 5px;
}

.todo:hover .delete-todo-icon {
  opacity: 40%;
}

.delete-todo-icon {
  position: relative;
  right: 3px;
  font-size: 0.9rem;
  opacity: 0%;
  cursor: pointer;
}

.project-name {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.add-todo {
  #todo {
    width: 100%;
    border-radius: 10px;
    background-color: $input;
    padding: 10px;
    outline: none;

    &::placeholder {
      color: $darker-main;
      opacity: 30%;
    }
  }
}

.todo-list {
  height: 100%;
  overflow-y: hidden;
  &:hover {
    overflow-y: auto;
  }
}

.todo {
  display: grid;
  grid-template-columns: min-content 1fr minmax(0px, max-content) min-content;
  grid-template-rows: max-content, max-content;
  column-gap: 5px;
  row-gap: 5px;
  align-items: center;
  background-color: lighten($input, 4%);
  padding: 5px 10px;
  padding-right: 0;
  font-size: 0.9rem;
  margin-bottom: 5px;

  .name {
    display: inline-block;
  }

  .dueDate {
    font-size: 0.65rem;
    color: red;
  }

  .details {
    grid-column: span 3;
    font-size: 0.7rem;
    color: $darker-main;
    max-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input:checked + .title {
    text-decoration: line-through;
    color: lighten(gray, 20%);
  }
}
